<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sniper Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Sniper Game</h1>
        <p>Test your shooting skills by playing the Sniper Game. Click the button below to start the game.</p>
        <button onclick="startGame()">Start Game</button>
    </div>

    <script>
        function startGame() {
            fetch('/start-game')
                .then(response => response.text())
                .then(message => alert(message))
                .catch(error => console.error('Error:', error));
        }
        
    </script>
</body>
</html>
